<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>FMFNotifier</string>
	<key>items</key>
	<array>
		<dict>
			<key>footerText</key>
			<string>FOOTER</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>NotificationEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.pugliagianluca.FMFNotifier.settingsChanged</string>
			<key>defaults</key>
			<string>com.pugliagianluca.FMFNotifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>rememberPassword</string>
			<key>label</key>
			<string>REMEMBER_PW</string>
			<key>PostNotification</key>
			<string>com.pugliagianluca.FMFNotifier.settingsChanged</string>
			<key>defaults</key>
			<string>com.pugliagianluca.FMFNotifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>makeDonation:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>DONATION</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>© 2014 Puglia Gianluca</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
