<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>FMFNotifier</string>
	<key>items</key>
	<array>
		<dict>
			<key>footerText</key>
			<string>FOOTER1</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>notificationEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.pugliagianluca.FMFNotifier.settingsChanged</string>
			<key>defaults</key>
			<string>com.pugliagianluca.FMFNotifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>30</integer>
			<key>max</key>
			<integer>200</integer>
			<key>key</key>
			<string>minInterval</string>
			<key>get</key>
			<string>getValueForSpecifier:</string>
			<key>set</key>
			<string>setValue:forSpecifier:</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.pugliagianluca.FMFNotifier.settingsChanged</string>
			<key>defaults</key>
			<string>com.pugliagianluca.FMFNotifier</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>FOOTER2</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>rememberPassword</string>
			<key>label</key>
			<string>REMEMBER_PW</string>
			<key>PostNotification</key>
			<string>com.pugliagianluca.FMFNotifier.settingsChanged</string>
			<key>defaults</key>
			<string>com.pugliagianluca.FMFNotifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER3</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>DONATE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>makeDonation:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PAYPAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER4</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>SUPPORT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>makeEmail:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>EMAIL</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>FMFNotifier 1.0 - © 2014 Puglia Gianluca</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
