Package: com.pugliagianluca.FMFNotifier
Name: FMFNotifier
Version: 1.0
Description: Tweak that improves Find My Friends app.
Section: Tweaks
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Gianluca Puglia
Maintainer: Gianluca Puglia
Icon: file:///Library/PreferenceBundles/FMFNotifierPreferences.bundle/Icon@2x.png
