Package: com.pugliagianluca.FMFNotifier
Name: FMFNotifier
Version: 1.0
Description: Tweak that improves Find My Friends app.
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Gianluca Puglia
dev: Gianluca Puglia
Homepage: 
Depiction: 
Maintainer: Gianluca Puglia
Icon: 

